body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: rgb(34, 34, 34);
}
/*Explorer les environs*/
.cities {
  display: flex;
  flex-wrap: wrap;
}

.cities>*{
  flex: 25%;
}

.city {
  display: flex;
}
.explore-img {
  width: 64px;
  height: 64px;
  border-radius: 5px;
}
/*Chez vous, partout*/

.card-img {
  width: 267px;
  height: 267px;
  border-radius: 5px;
}
/*Découvrez les expériences*/
.exp-img {
  width: 361.333px;
  height: 361.333px;
  border-radius: 5px;
}

.exp-paragraph {
  margin-top: 14px;
}
/**/

a p, a b  {
  color: rgb(34, 34, 34);
  line-height: 22px;
  font-size: 14px;
}

a p {
  font-size: 18px;
}

a:hover{
  text-decoration: none;
}

